*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/firebender
/.claude
.DS_Store
.kotlin
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
*.hprof

keystores/release-keystore.jks
key.properties
